<div>
    <h2 >Psychological Institute for the children and teenagers’ intervention.</h2>
</div>
<div class="target grid">
    <div class="tittle">
        <img src="../../assets/psicologia-educativa-1.webp" alt="sofa" class="image">
    </div>
    <div class="text flex">
        <div class="square">
            <img src="../../assets/altas-capacidades-icon.png" alt="market" class="icon">
            <h3>Terget market</h3> 
            <h4>Children’s parents, Teenagers and Young people who have the necessity of a psychological service of low cost and of easy access.</h4>    
        </div>
        <div class="square">
            <img src="../../assets/problemas-de-conducta-icon.png" alt="" class="icon">
            <h3>Problem</h3>
            <h4>Teenagers, children, and young people cannot cost the psychological services, these services are far from their house, or they do not have enough time to go to special places.</h4>
        </div>
        <div class="square">
            <img src="../../assets/psicologia-educativa-icon.png" alt="" class="icon">
            <h3>Revenue stream</h3>
            <h4>We sell directly to customers online.</h4>
        </div>
        <div class="square">
            <img src="../../assets/trastornos-emocionales-icon.png" alt="" class="icon">
            <h3>Expenses </h3>
            <h4>The cost of building the website and the marketing activities. </h4>
        </div>
    </div>
    <div class="text flex">
        <div class="square">
            <img src="../../assets/psicologia-clinica-icon.png" alt="" class="icon">
            <h3>Milestones</h3>
            <h4>To be a solution to the teenager´s mental problems with a easy Access, specially to them who cannot cost it. </h4>
        </div>
        <div class="square">
            <img src="../../assets/psicologia-forense-icon.png" alt="" class="icon">
            <h3>Solution</h3>
            <h4>Our institute offers psychological services to the children and youth society with a prevention system and mental health attention. </h4>
        </div>
        <div class="square">
            <img src="../../assets/tdah-icon.png" alt="" class="icon">
            <h3>Identity</h3>
            <h4>PICTI is an Institute conformed by mental health professionals highly qualified who are willing to help, guiding child, youth people and teenagers to know and develop their abilities, teaching them to manage and express their emotions, giving them tools that make them able to be people with emotional intelligence. </h4>
        </div>
        <div class="square">
            <img src="../../assets/entrenamiento-social-icon.png" alt="" class="icon">
            <h3>Competition</h3>
            <h4>PICTI is part of a group of institutes that bring online psychological resources including IPINA, Terapify and Neopraxis, making easier and more accessible the psychological therapy and asesory process. </h4>
        </div>
    </div>
    <div class="tittle">
        <img src="../../assets/psicologia-infantil-1.webp" alt="" class="image">
    </div>
    <div class="tittle">
        <img src="../../assets/psicologia-educativa-1.webp" alt="sofa" class="image">
    </div>
    <div class="text flex">
        <div class="square">
            <img src="../../assets/altas-capacidades-icon.png" alt="market" class="icon">
            <h3>Marketing Activities</h3> 
            <h4>We will hold informative conferences in rurals schools to offer our services and we will launch an ad campaing on social media.</h4>    
        </div>
        <div class="square">
            <img src="../../assets/problemas-de-conducta-icon.png" alt="" class="icon">
            <h3>Mision</h3>
            <h4>To be a leading institute that can offer a system of prevention and care in emotional health to children and teenagers.</h4>
        </div>
        <div class="square">
            <img src="../../assets/psicologia-educativa-icon.png" alt="" class="icon">
            <h3>Tagline</h3>
            <h4>For children and young people with mental health.</h4>
        </div>
        <div class="square">
            <img src="../../assets/trastornos-emocionales-icon.png" alt="" class="icon">
            <h3>The competition </h3>
            <h4>PICTI is part of a group of institutes that bring online psychological resources including IPINA, Terapify and Neopraxis, making easier and more accessible the psychological therapy and asesory process. </h4>
        </div>
    </div>
    <div class="text">
        <div class="square center">
            <h3>Teams and key roles</h3>
            <ul>
                <li>Website programmer: Brayhan Niebla.</li>
                <li>Principal psychologist: Marbeth González.</li>
                <li>CEO: Sitim Flores.</li>
                <li>Designer and Advertisement manager: Ximena Lara</li>
            </ul>
        </div>
    </div>
    <div class="tittle">
        <img src="../../assets/psicologia-clinica.webp" alt="" class="image"> 
     </div>
</div>