.grid{
    margin: 50px 10%;
    background-color: var(--light);
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border-radius: 30px;
}
input{
    background-color: transparent;
    border: none ;
    border-bottom: 1px solid var(--main);
}
.user{
    margin: auto;
}
.flex{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
button{
    background-color: transparent;
    border: 1px solid var(--shadow);
    color: var(--shadow);
    border-radius: 5px;
}