<div class="nav" [ngClass]="{'op': open}">
   <div class="fix">
      <img src="../../assets/proximo.png" class="open" alt="abrir" srcset="" (click)="show()">
      <div class="flex" (click)="aboutUs()">
         <img src="../../assets/inteligencia-emocional.png" alt="about-us" srcset="" ><h3 class="toggle">About-us</h3>
      </div>
      <div class="flex" (click)="user()">
         <img src="../../assets/usuario.png" class="open" alt="user" srcset=""><h3 class="toggle">User</h3>
      </div>
      <div class="flex" (click)="contact()">
         <img src="../../assets/silueta-de-multiples-usuarios.png" class="open" alt="contact" srcset=""><h3 class="toggle">contact</h3>
      </div>
   </div>
    
</div>